.cta {
    padding: 80px 20px;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.headline {
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-weight: 700;
    margin-bottom: 20px;
}

.text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 40px;
    color: var(--black);
    font-weight: 700;
}

.button {
    position: relative;
    display: inline-block;
    padding: 14px 36px;
    font-weight: 600;
    font-size: 1rem;
    color: #8b5cf6;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 8px 20px rgba(139, 92, 246, 0.4);
    transition: all 0.3s ease;
}

/* floating effect */
.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(139, 92, 246, 0.5);
}

/* shine animation */
.button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 50%;
    height: 200%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.0) 100%);
    transform: rotate(25deg);
    transition: all 0.3s ease;
    animation: shine 2s linear infinite;
}

@keyframes shine {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}