.home {
    margin: 0 auto;
    background: url("../../../assets/service/Banner.jpg") no-repeat center center;
    background-size: cover;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.home h1 {
    color: #fff;
}