.home {
    margin: 0 auto;
    padding: 0 20px;
    color: inherit;
    background: url("../assets/hero.jpg") no-repeat center center;
    background-size: cover;
    height: 93.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.content {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--nav-bg);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.home h1 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #628141;
    font-size: 3.2rem;
}

.home p {
    font-size: 1.32rem;
    line-height: 1.6;
    color: #F5F5F5;
}

/* Responsive */
@media (max-width: 600px) {
    .home h1 {
        font-size: 2rem;
    }
}