:root {
    font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Space Grotesk', sans-serif !important;
    overflow-x: hidden;
    width: 100%;
}

body.dark {
    --nav-bg: #232323;
    background-color: #232323;
    color: #f8fafc;
}

body.light {
    --nav-bg: #f8fafc;
    background-color: #f8fafc;
    color: #020617;
}