:root {
    font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* Base Colors */
    --black: #000000;
    --white: #ffffff;
    --gray: #cccccc;

    /* Brand Colors */
    --green: #628141;
    --blue: #4da3ff;

    --carbon-black: #232323;
    --border-dark: #1a1a1a;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Space Grotesk', sans-serif !important;
    overflow-x: hidden;
    width: 100%;
}

body.dark {
    --nav-bg: var(--black);
    background-color: var(--gray);
    color: var(--white);
}

body.light {
    --nav-bg: var(--white);
    background-color: var(--gray);
    color: var(--black);
}