:root {
    font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* Base Colors */
    --black: #000000;
    --white: #ffffff;
    --gray: #d3d3d3;
    --lavender: #e6e6fa;
    --ivory: #fffff0;
    --red: #e62753;
    /* Brand Colors */
    --green: #628141;
    --smoke-green: #4B5C4B;
    --blue: #4da3ff;
    --jet-black: #171717;
    --carbon-black: #232323;
    --border-dark: #1a1a1a;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Space Grotesk', sans-serif !important;
    overflow-x: hidden;
    width: 100%;
}

body.dark {
    --nav-bg: var(--black);
    background-color: var(--gray);
    color: var(--white);
}

body.light {
    --nav-bg: var(--white);
    background-color: var(--gray);
    color: var(--black);
}